<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Course Application Processing System</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/styles.css}">
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
</head>
<body>
	<div th:insert="fragments/layout.html:: header"></div>
	<div th:insert="fragments/layout.html:: sidebar"></div>

	<div class="container inside">
	
	<h1>Error: Registration Failed</h1>
	<p th:text="${courseName}+' overlaps with one or more registered courses'"></p>
	<button class = "btn btn-link" onclick="window.history.back()">< Go Back</button>
	
	</div>

</body>
</html>