<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>EVERbright School Course Admission System</title>
		
	<link rel="icon" th:href="@{/images/favicon.ico}">


	<!-- Bootstrap CSS-->
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<!-- Bootstrap CSS-->
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	
	
</head>

<body>
	<div th:insert="fragments/layout.html:: header"></div>
	<div th:insert="fragments/layout.html:: sidebar"></div>
	

	
	<div class="container inside">
	
			<div th:fragment="lecturer-banner" id="lecturer-banner">
		
			<h1>Current Enrollments</h1>
		</div>
		<div th:insert="fragments/layout.html:: admin-banner">
		</div>
		<div style="margin-bottom: 3%;">
			<table width="100%">
				<tr>
						<td>
						<form action="#" th:action="@{/lecturer/search-students/{id}(id=${curCourse.id})}" method="POST">
							<table>
								<tr>
									<td style="width: 87%"><input type ="text" name="name" placeholder = "Search student by first or last name" class="form-control"></td>
									<td style="padding-left: 3%"><button type="submit" class="btn btn-info">Search</button></td>
								</tr>
							</table>
						</form>
					</td>
				</tr>
			</table>
		</div>
		
		
		<p><b>Course :
			<span th:text= "${curCourse.courseName}", class="text-danger"></span></b></p>		
		<p><b>Total Listings :
			<span th:text= "${listStudents.size()}", class="text-danger"></span></b></p>			
			

		<table class="table table-striped table-form lists">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Actions</th>
			</tr>
		</thead>
		
		<tbody>
		<!-- 
			to iterate through a list, use th:each = ""
			inside the quotes: 
				var_name : ${object_passed_from_controller} <- make sure this is a collection 
		-->
			<tr th:each="stud : ${listStudents}">
				<!--
					use ${var_name.attribute} to access the attributes of the object
				-->
				<td th:text="${stud.firstName}"></td>
				<td th:text="${stud.lastName}"></td>
				<td th:text="${stud.email}"></td>
				<td class="table-action">
					<a th:href="@{/lecturer/view-perfomance/{id}(id=${stud.id})}" class="btn btn-primary">View Perfomance</a>						
				</td>		
				
			</tr>
		</tbody>
		</table>			

</div>
</body>
</html>